/* Style sheel for Greg's List. Author: R. Wood, Date: Oct, 2016. */

/* GENERAL STYLES */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

p,
li a {
	font-size: 18px;
	font-weight: bold;
}

p {
	color: #C0C0C0;
}

li a,
p a {
	text-decoration: none;
}

ul li {
	list-style: none;
}


/* HEADER STYLES */

.nav-bar {
	background: #C0C0C0;
	width: 100%;
	height: 50px;
	position: fixed;
}



/* NAVIGATION STYLES */

nav ul li {
	display: inline-block;
	margin-right: 15px;
}

.logo {
	float: left;
}

.logo a:link,
.logo a:visited {
	color: #000;
}

.logo a:hover {
	color: red;
}

.logo a:active {
	color: tomato;
	font-size: 20px;
}

.right {
	float: right;
	margin-left: 10px;
}

.right a:link,
.right a:visited {
	color: purple;
}

.right a:hover {
	color: #000;
}

.right a:active {
	color: lightblue;
	font-size: 20px;
}



/* MAIN STYLES */

main {
	padding-top: 50px;
	width: 100%;
	height: 1000px;
}


.form-container,
.results {
	width: 90%;
	margin-left: 150px;
}



/* SEARCH BOX STYLES */

.form-container {
	margin-top: 50px;
}

#search,
.mag-glass-a {
	vertical-align: middle;
	border-radius: 5px;
}

#search {
	padding: 5px 300px 5px 5px;
	font-weight: bold;
}

.mag-glass-a {
	border: 1px solid black;
}

.mag-glass {
	height: 30px;
	width: 30px;
	text-align: center;
}

#search:hover,
.mag-glass:hover {
	border: 1px solid blue;
}

#search:active,
#search:focus,
.mag-glass:active {
	border: 2px solid blue;
}

.mag-glass:active {
	height: 35px;
	width: 35px;
}



/* SECOND NAV */

.second-nav {
	margin-left: 110px;
	margin-top: 30px;
}

.second-nav ul li {
	display: inline-block;
}

.btn {
	background: #fff;
	padding: 10px;
	border: 1px solid black;
}

.btn:link,
.btn:visited {
	color: #000;
}

.btn:hover {
	background: #C0C0C0;
}

.btn:active {
	padding: 15px;
}

.prev-btn {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.next-btn {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}


/* RESULTS */

.results {
	margin-top: 50px;
}

.job-link {
	margin: 0 5px;
}

.job-link:link,
.job-link:visited {
	color: blue;
}

.job-link:hover {
	color: tomato;
}

.job-link:active {
	color: lightblue;
}