/* Style sheel for Greg's List. Author: R. Wood, Date: Oct, 2016. */

/* GENERAL STYLES */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

p {
	color: #C0C0C0;
}

li a,
p a {
	text-decoration: none;
}

ul li {
	list-style: none;
}


/* NAVIGATION STYLES */

.nav-bar {
	background: #C0C0C0;
	width: 100%;
	height: 50px;
	position: fixed;
}

nav ul li {
	display: inline-block;
	margin-right: 15px;
}

.logo {
	float: left;
}

.logo a:link,
.logo a:visited {
	color: #000;
}

.logo a:hover {
	color: red;
}

.logo a:active {
	color: tomato;
	font-size: 20px;
}

.right {
	float: right;
	margin-left: 10px;
}